/* IMPORTADO DO SITE P5.JS.WEB */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg, black, white, black); */
    background: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animation_load 1s forwards ;
}

@keyframes animation_load {
    0%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 40px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 15px white;
}

.dev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-left: 410px;
    color: white;
    text-shadow: 0px 0px 20px white;
}

.dev a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
}

.dev a:hover {
    color: white;
    scale: 1.1;
    margin-left: 10px;
    margin-right: 20px;
    text-shadow: 0px 0px 10px white;
}

  canvas {
    margin-top: 40px;
    display: block;
    border: 1px solid white;
    /* box-shadow: 0px 0px 15px white; */
    animation: animation_arena 3s infinite;
}

@keyframes animation_arena {
    0%{
        box-shadow: 0px 0px 15px white;
    }
    50%{
        box-shadow: 0px 0px 40px white;
    }
    100%{
        box-shadow: 0px 0px 15px white;
    }
}

  main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TESTE
.y, .y_2, .y_3 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.y_2 {
    color: blue;
}

.y_3 {
    color: red;
}

.placar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: white;
    gap: 20px;
}

.ptsPlayer, .ptsCPU {
    font-size: 80px;
}

.ptsPlayer {
    color: blue;
}

.ptsCPU {
    color: red;
}

.velBall {
    display: flex;
    align-items: center;
    color: yellow;
    margin-top: 10px;
} */